body{
	text-align: center;
	background: linear-gradient(grey, aqua);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	font-family: serif, sans-serif;
	height: 1000px;
}

#Welcome{
	border-style: solid;
	width: 40%;
	margin: auto;
	border-color: black;
	border-width: 2px;
	border-radius: 20px;
	font-family: ink free, serif;
	text-shadow: 0px 0px 3px yellow;
	box-shadow: 2px 2px 5px black;
	background-color: lightblue;
	box-sizing: border-box;

	animation: Welcome;
	animation-duration: 2s;
}

@keyframes Welcome{
	0%{transform: translate(-1200px,0);}
	25%{transform: rotate(360deg);}
}

h2{
	margin-top: 100px;
}

#idle{
	margin-top: 100px;
}

#idle:active {

	animation: click;
	animation-duration: 0.1s;

}

@keyframes click{
	0%{transform: scale(0.75, 0.75);}
}

#buttonmove{
	position: relative;
}

#java{
	position: absolute;
	right: 0;
	top: -40px;
	margin-right: 20px;

	background: linear-gradient(white,green);
	padding: 5px;
	border-radius: 20px;
	box-sizing: border-box;

}


#js{
	position: absolute;
	right: 0;
	margin-right: 20px;

	background: linear-gradient(white,blue);
	padding: 5px;
	border-radius: 20px;
	box-sizing: border-box;

}

#py{
	position: absolute;
	right: 0;
	top: 40px;
	margin-right: 20px;

	background: linear-gradient(white,red);
	padding: 5px;
	border-radius: 20px;
	box-sizing: border-box;
}

#upgrade{
	position: absolute;
	left: 0;
	top: 0px;
	margin-right: 20px;

	background: linear-gradient(white,cyan);
	padding: 5px;
	border-radius: 20px;
	box-sizing: border-box;
}

#amount{
	margin-top: 20px;
}

#gitcontainer {
	border: 2px solid black;
	width: 150px;
	margin: auto;
	box-sizing: border-box;
}


#github {
	float: left;
	width: 20px;
	height: 20px;
	transform: scale(0.75, 0.75);

}
